
    <div class="container">
        <div class="card-group">
            <div class="row pt-4">
                <div class="card col-md-6">
                    <img class="card-img-top imgCls" [src] ="ImageRoohiPath">
                    <div class="">
                        <h3 class="card-title">Roohi</h3>
                    </div>
                </div>
           
                <div class="card col-md-6">
                    <img class="card-img-top imgCls" [src] ="ImageSagaPath">
                    <div class="card-body">
                        <h3 class="card-title">Mumbai Saga</h3>
                    </div>
                </div>
            </div>
            <div class="row pt-4">
                <div class="card col-md-6">
                    <img class="card-img-top imgCls" [src] ="ImageUppenaPath">
                    <div class="card-body">
                        <h3 class="card-title">Uppena</h3>
                    </div>
                </div>
                <div class="card col-md-6">
                    <img class="card-img-top imgCls" [src] ="ImageKrackPath">
                    <div class="card-body">
                        <h3 class="card-title">Krack</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>